@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
html,
body,
#root,
#root>div {
    margin: 0;
    padding: 0;
    background-color: #202124;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    text-align: center;
    margin: 0.5em;
}

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: medium;
    color: white;
}

div {
    margin: 3em;
    height: 50%;
    width: 33%;
    display: flex;
    flex-direction: column;
}

button,
input {
    padding: 1em;
    border-radius: 0.5em;
    border-color: transparent;
    width: 10;
}

button {
    background-color: #008CBA;
    color: white;
}

@keyframes buttonHover {
    from {
        background-color: #008CBA;
    }
    to {
        background-color: #036e92;
    }
}

button:hover {
    animation: buttonHover 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

input {
    background-color: #555555;
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.644);
}

.error {
    color: red;
    font-weight: bold;
}